<form class="register-form log-form">
    <h1>Contact us</h1>

    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">About: </label>
        <div class="input-group">
            <input name="username" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn">Content: </label>
        <div class="input-group">
            <textarea rows="9" required></textarea>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>